<ion-view  title="Favoritos" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="favoritos-list2">
      <ion-item class="item-thumbnail-left" id="favoritos-list-item7" style="">
        <h2>Armazém Paraíba</h2>
        <p>Lugar de Comprar barato</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favoritos-list-item8" style="">
        <h2>Super Esperança Super Mercados</h2>
        <p>Supermercados</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favoritos-list-item9" style="">
        <h2>Academia CrossFit</h2>
        <p>Ficar Monstro</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
