<ion-view title="Minhas Categorias" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="minhasCategorias-list3">
      <ion-item class="item-icon-left" id="minhasCategorias-list-item12" style="">
        <i class="icon ion-android-star"></i>Supermercados</ion-item>
      <ion-item class="item-icon-left" id="minhasCategorias-list-item13" style="">
        <i class="icon ion-android-star"></i>Academias</ion-item>
      <ion-item class="item-icon-left" id="minhasCategorias-list-item14" style="">
        <i class="icon ion-android-star"></i>Lojas</ion-item>
    </ion-list>
  </ion-content>
</ion-view>